<!doctype html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KorOrienťák</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'competition/style.css' %}">
    {% if player and not player.category.competitive %}
    <script defer src="{% static 'competition/player-menu.js' %}"></script>
    {% endif %}
    {% block extrahead %}
    {% endblock %}
</head>
<body {% if player %}class="with-player"{% endif %}>
<header>
    KorOrienťák
    {% if player %}
    <div class="player">
        <span class="player-info">
            <span class="player-name">{{ player.name }}</span>
            <span class="player-category">{{ player.category.name }}</span>
        </span>
        {% if not player.category.competitive %}
        <span class="task-status">
            {{ complete_tasks_complete_count }}/{{ complete_tasks_total_count }}
            <i class="fas fa-chevron-down"></i>
        </span>
        {% endif %}
    </div>
    {% endif %}
</header>
{% if player and not player.category.competitive %}
<div class="task-list">
    <strong>Stanoviště</strong>
    <ul>
        {% for is_complete, task_name in complete_tasks %}
        <li {% if is_complete %}class="done"{% endif %}>
            {{ task_name}}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>