{% extends 'base.html' %}

{% block content %}
<h1>Cookies</h1>

<p>Cookies jsou malé soubory, které mohou webové stránky ukládat do prohlížeče uživatele. Prohlížeč je pak při každé návštěvě posílá zpět. Typicky se používají k rozlišování uživatelů nebo k ukládání uživatelského nastavení.</p>

<h2>K čemu používáme cookies?</h2>

<p>Při registraci vygenerujeme unikátní identifikátor, který uložíme do cookies ve vašem prohlížeči. Při načítání jednotlivých stanovišť pak dokážeme poznat, že jste to vy, a uložit váš čas.</p>
<p>Cookie s vaším identifikátorem se odstraní ve chvíli, kdy dokončíte závod, nebo automaticky za několik dní.</p>

<h2>Co když s tím nesouhlasím?</h2>

<p>Pokud s tím nesouhlasíte, nemusíte se registrovat. Závod můžete absolvovat i bez registrace a na všech stanovištích uvidíte zadané úkoly. Nebudeme ale ukládat vaše časy, tím pádem se ani neobjevíte ve výsledkové listině.</p>

{% endblock %}
