<!doctype html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>QR Kódy</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'competition/qr-codes.css' %}">
</head>
<body>
{% for task in tasks %}
<div class="code">
    <img src="https://api.qrserver.com/v1/create-qr-code/?size=500x500&data={{task.qr_code}}">
    <p class="info">
        {{ text }}
    </p>
</div>
{% endfor %}
</body>
</html>
