{% extends 'base.html' %}

{% block extrahead %}
{% load static %}
<script defer src="{% static 'competition/registration.js' %}"></script>
{% endblock %}

{% block content %}
<h1>{{ task.name }}</h1>
<p>{{ task.text }}</p>
<form action="{% url 'task' task.uuid  %}" method="post">
    {% csrf_token %}
    {{ form }}

    <p class="cookie-info">
        {{ app_name }} pro správné fungování používá soubory cookie. Registrací s tím souhlasíte.
        <a href="{% url 'cookies_info' %}">Více informací</a>
    </p>

    <input type="submit" value="Začít">
</form>
{% endblock %}
