{% extends 'base.html' %}

{% block content %}
{% if not player %}
    {% if task.race.is_past %}
    <p class="info">
        Závod už skončil. Pořád ale můžeš plnit úkoly.
    </p>
    {% else %}
    <p class="info">
        {{ task.race.not_registered_text |urlize }}
    </p>
    {% endif %}
{% endif %}
<h1>{{ task.name }}</h1>

{% if task.text %}
<p>{{ task.text }}</p>
{% endif %}

{% if task.youtube_id %}
<div class="embed-container">
    <iframe src="https://www.youtube.com/embed/{{ task.youtube_id }}" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}

{% if task.assignment_link %}
<div>
    <a class="btn btn-primary" href="{{ task.assignment_link }}" target="_blank">
        Otevřít zadání
    </a>
</div>
{% endif %}

{% if task.help_link %}
<div class="help">
    <a id="help-link" class="btn btn-secondary" href="{{ task.help_link }}" target="_blank">
        Otevřít nápovědu
    </a>
</div>
<script>
(function () {
    document.getElementById('help-link').onclick = function() {
        return confirm('Opravdu to nevymslíš sám a chceš zobrazit nápovědu?')
    }
})()
</script>
{% endif %}

{% endblock %}
