{% extends 'base.html' %}

{% block content %}
{% if not player %}
    {% if task.race.is_past %}
    <p class="info">
        Závod už skončil. Pořád ale můžeš plnit úkoly.
    </p>
    {% else %}
    <p class="info">
        {{ task.race.not_registered_text |urlize }}
    </p>
    {% endif %}
{% endif %}
<h1>{{ task.name }}</h1>

{% if task.text %}
<p>{{ task.text }}</p>
{% endif %}

{% if task.youtube_id %}
<div class="embed-container">
    <iframe src="https://www.youtube.com/embed/{{ task.youtube_id }}" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}

{% endblock %}
